body {
  max-width: 920px;
    margin: 0 auto;
    font-family: sans-serif;
    padding:1rem
}

hr {
    border: none;
    border-top: 1px solid gray;
    max-width: 25px;
    margin: 35px auto;
}

a, a:visited {
    color: inherit;
}

main, article {
  margin: 0 auto;
  max-width: 720px;
  line-height: 1.5;
}

.article {
	font-size: 1.17em;
	font-weight: bold;
}

footer{
    margin-top:2rem;
    text-align:center;
    font-size:.8rem;
}
@media (prefers-color-scheme: dark) {
    html {
        background-color: #181a1b;
        color: #dfdfdf;
    }

    article img:not([src$=".jpg"]):not([src$=".jpeg"]) {
        background-color: white;
        border: 5px solid white;
        box-sizing: border-box;
    }
}
