html {
    background-color: #ffffea;
    color
}

body {
	font-family: Arial, Liberation Sans, sans-serif;
	display: flex;
	flex-flow: row;
}

body > header {
	text-align: center;
}

body > header h1 {
	width: auto;
	font-size: 2em;
}

body > header img {
    width: 200px;
}

#main {
    flex: auto;
	min-height: 100vh;
	max-width: 820px;
	overflow: hidden;

	display: flex;
	flex-flow: column;
}

#main > nav, #main > main, #main > footer {
	padding: 15px;
}

#main > nav {
	text-align: center;
}

#main > footer {
	padding-top: 50px;
}

a, a:visited {
    text-decoration: none;
    color: #0287c8;
}


@media (max-width: 640px) {
	body {
		flex-direction: column;
	}

	body > header h1 {
		width: auto;
		font-size: 2em;
	}

	#main {
		display: block;
		min-height: 0;
	}

	#main > main {
		margin-right: 0;
	}
    body > header img {
        width: 175px;
    }
}
code {
    font-family: 'Iosevka', monospace;
    font-size: 0.9em;
}
hr {
    width: 50%;
}

pre {
    font-family: 'Iosevka', monospace;
    overflow-x: auto;
    padding: 0.5ch;
    border: 2px solid #0287c8;
    padding: 10px;
    scrollbar-width: none;
}

#post-list h3 {
    display: inline-block;
}

#home {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#home img {
    width: 40vh;
}

@media (max-width: 640px) {
    #home img {
        width: 30vh;
    }
}
